html, body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

body {

    background-image: url("/image/iss_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    color:#FFFFFF;
}


#issPosition {
    text-align: center;
    color:#FFFFFF;

}


#austronautes {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
 }
#austronautes img {
    position: absolute;
    top: 0px;
    right: 100px;
    width: 200px;
}

#austronautes:hover {opacity: 0.7;}


#map {
    height: 600px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 30px 8px #FFFFFF;
}

.naute {
    overflow: hidden;
    position: relative;
    /* Apply animation to this element */
    -moz-animation: naute 5s linear infinite alternate;
    -webkit-animation: naute 5s linear infinite alternate;
    animation: naute 5s linear infinite alternate;
}


#textNaute {
    position: absolute;
    top: 400px;
    right: 100px;
    width: 300px;
    z-index: 2;
    color: #FFFFFF;
    /* Apply animation to this element */
    -moz-animation: naute 5s linear infinite alternate;
    -webkit-animation: naute 5s linear infinite alternate;
    animation: naute 5s linear infinite alternate;
}

/* Move it (define the animation) */
@-moz-keyframes naute {
    0%   { -moz-transform: translateY(30%); }
    100% { -moz-transform: translateY(0%); }
}
@-webkit-keyframes naute {
    0%   { -webkit-transform: translateY(30%); }
    100% { -webkit-transform: translateY(0%); }
}
@keyframes naute {
    0%   {
        -moz-transform: translateY(30%); /* Firefox bug fix */
        -webkit-transform: translateY(30%); /* Firefox bug fix */
        transform: translateY(30%);
    }
    100% {
        -moz-transform: translateY(0%); /* Firefox bug fix */
        -webkit-transform: translateY(0%); /* Firefox bug fix */
        transform: translateY(0%);
    }
}


.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}
